<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/page.js" defer></script>
        <link rel="stylesheet" href="css/page.css">
    <title>Home</title>
</head>
<body>
    <h1 id="log">Seja bem-vindo <%=msg%>!</h1>

    <form action="/logout" method="post">
        <button type="submit">Sair</button>
    </form>

</body>
</html>